.product-grid {
  display: grid;
  grid-template-columns: repeat(1, 3fr);
  gap: 30px;
}

.grid-item {
  text-align: center;
}

.centered-icon {
  text-align: center;
}

.centered-icon a {
  font-size: 75px;
  color: black;
}

.centered-icon a:hover {
  color: rgb(130, 130, 130);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 18px;
  text-align: left;
}

table thead tr {
  background-color: rgba(92, 92, 92, 0.512);
  color: rgb(0, 0, 0);
  text-align: left;
}

table th,
table td {
  padding: 12px 15px;
  border: 1px solid #ddd;
}

table tbody tr {
  border-bottom: 1px solid #ddd;
}

table tbody tr:nth-of-type(even) {
  /*Varannan*/
  background-color: #f3f3f3;
}

footer {
  background-color: rgba(92, 92, 92, 0.512);
}

.footer-container {
  width: 100%;
  padding: 40px 20px;
}

.socIcons {
  display: flex;
  justify-content: center;
}

.socIcons a {
  text-decoration: none;
  padding: 10px;
  margin: 10px;
  transition-duration: 1000ms;
  transition-property: background-color;
  transition-timing-function: ease-in-out;
  border-radius: 50%;
}

.socIcons a i {
  font-size: 48px;
  color: black;
}

.socIcons a:hover {
  background-color: white;
}

.footer-info {
  display: flex;
  justify-content: center;
}

.footer-info nav {
  /*semantisk grehjs*/
  margin: 0 20px;
}

.footer-info h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.footer-info ul {
  list-style-type: none;
  padding: 0;
}

.footer-info ul li {
  margin-bottom: 8px;
}

.footer-info ul li a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.footer-info ul li a:hover {
  color: white;
}

.list-item {
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
}
