/* Reset margin for the body */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
  padding: 20px;
  width: 100%;
}

.centered-icon a {
  font-size: 100px; /* Increase the icon size */
  color: #fff; /* Set the icon color */
}

.centered-icon a:hover {
  color: #ddd; /* Change color on hover */
}

.content {
  width: 80%;
  margin: 20px auto;
}

.contact-us {
  text-align: left;
}

.contact-us h1 {
  color: #009879;
}

.contact-us p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
}

input,
textarea {
  margin-bottom: 20px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px;
  font-size: 18px;
  background-color: #009879;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #007b63;
}

#form-response {
  margin-top: 20px;
  font-size: 18px;
  color: #009879;
}
