body {
  /* background-color: rgba(92, 92, 92, 0.512); */
  background-color: black;
  height: 100vh;
}

body::-webkit-scrollbar {
  /*webkit chrome*/
  display: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(92, 92, 92);
  padding: 10px 20px;
  border: 3px solid white; /*Hela yttre*/
}

.logo img {
  width: 72px;
  height: 72px;
  border-radius: 50%;
}

.navbar-links {
  font-size: 32px;
  display: flex;
  align-items: center;
}

.navbar-links a {
  border: 1px solid white; /*små länkisarna/// mellan border */
  /* border-color: green !important; */
  color: black;
  text-decoration: none;
  padding: 14px 20px;
  font-family: Arial, Helvetica, sans-serif;
  transition-duration: 500ms;
  transition-property: background-color;
  transition-timing-function: ease-in-out;
}

.navbar-links a:hover {
  background-color: white;
}

.hero {
  position: relative;
  background-image: url("/images/cykelHero.png");
  background-size: cover;
  background-position: center;
  height: 100vh; /*viewheight  vhvhvhvhv höja 120?*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  padding-bottom: 320px;
}

.hero h1 {
  font-size: 3em; /*16px*/
  margin-bottom: 0.5em;
}

.hero p {
  font-size: 1.5em;
  margin-bottom: 1em;
}

.btn {
  padding: 10px 20px;
  background-color: white;
  color: black;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #0056b3;
}

footer {
  background-color: rgba(92, 92, 92, 0.512);
}

.footer-container {
  width: 100%;
  padding: 40px 20px;
}

.socIcons {
  display: flex;
  justify-content: center;
}

.socIcons a {
  text-decoration: none;
  padding: 10px;
  margin: 10px;
  transition-duration: 1000ms;
  transition-property: background-color;
  transition-timing-function: ease-in-out;
  border-radius: 50%;
}

.socIcons a i {
  font-size: 48px;
  color: black;
}

.socIcons a:hover {
  background-color: white;
}

.footer-info {
  display: flex;
  justify-content: center;
}

.footer-info nav {
  /*semantisk grehjs*/
  margin: 0 20px;
}

.footer-info h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.footer-info ul {
  list-style-type: none;
  padding: 0;
}

.footer-info ul li {
  margin-bottom: 8px;
}

.footer-info ul li a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.footer-info ul li a:hover {
  color: rgb(255, 255, 255);
}

.list-item {
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
}

#map-container {
  position: relative;
  width: 100%;
  height: 50vh;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
}

#marker {
  background-image: url(/images/pngtree-3d-pin-map-marker-location-tilt-left-png-image_7250174.png);
  background-size: cover;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.mapboxgl-popup {
  max-width: 200px;
}

.wheretofind {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 48px;
  border-color: white;
}
